	/*---------------------------------------------------------------------------------------------*\
	|				   IE 7 error fixes						   |
	\*----------------------------------------------------------------------------------------------*/
	
	fieldset 
	{
		padding-bottom:15px;
		position: relative;
		float: left;
		/*  */
	}

	legend 
	{
		position: relative;
		left: -7px;
		top: -0.75em;
	}

	fieldset ol 
	{
		padding-top: 0.25em;
	} 
	