
	
	/*============================================================================================*\
	|				 CSS by Matt Harper @ Site of Hand Web Design (c)2009 					|
	\*============================================================================================*/

	
	/*	================	Top Menu  Links	==============	*/
	
#CMS_MenuTopDiv
{
	width: 1150px;

	height: 22px;
/* 	
	margin-left: auto;
	margin-right: auto;
	 */
	padding-top: 20px;
	padding-bottom: 5px;	
	
	padding-right: 20px;
	padding-left: 20px;
	
	text-align: center;
	font-size: 12px; 		
}	

/*	=================================================================================================================	*/
 
 
 #CMS_MenuTop
,#CMS_MenuTop ul 
{
	float: left;

	list-style: none;
	line-height: 1;
	background: white;
/* 	font-weight: bold; */
	padding: 0;

	margin: 0 0 6px 0;
}

#CMS_MenuTop a 
{
	display: block;
	width: 140px;
	w\idth: 130px;
	color: #669911;
	text-decoration: none;
	padding: 4px;	
}

#CMS_MenuTop li a.Daddy 
{
	background-image: url('Button_arrow_down.gif');
	background-repeat: no-repeat;
	background-position: center right;
}

#CMS_MenuTop li li a.Daddy 
{
	background-image: url('Button_arrow_right.gif');
	background-repeat: no-repeat;
	background-position: center right;
}

#CMS_MenuTop  li.FlyLeft li a.Daddy 
{
	background-image: url('Button_arrow_left.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

#CMS_MenuTop li 
{
	float: left;
	padding: 0;
	width: 140px;
	
	margin: 0 0 0 4px;	
	
	border-top: solid #eeeeee 3px;
	border-right: solid #777777 3px;
	border-bottom: solid #000000 3px;
	border-left: solid #cccccc 3px; 

	background-color: #eeeeee;		
}

#CMS_MenuTop li ul {
	position: absolute;
	left: -999em;
	height: auto;

	width: 140px;
	w\idth: 130px;	
	font-weight: normal;

	margin: 0;
}

#CMS_MenuTop li li 
{
	padding-right: 10px;
	width: 140px
}

#CMS_MenuTop li ul a 
{
	width: 140px;
	w\idth: 130px;
}

#CMS_MenuTop li ul ul 
{
	margin: -20px 0 0 140px;
}

#CMS_MenuTop li.FlyLeft ul ul 
{
	margin: -20px 0 0 -145px;
}


/*	===========	CSS fly-out Menu Trickery	=============	*/

 #CMS_MenuTop li:hover ul ul
,#CMS_MenuTop li:hover ul ul ul
,#CMS_MenuTop li:hover ul ul ul ul
,#CMS_MenuTop li.over ul ul
,#CMS_MenuTop li.over ul ul ul 
,#MenuTop li.over ul ul ul ul
{
	left: -999em;
}

 #CMS_MenuTop li:hover ul
,#CMS_MenuTop li li:hover ul
,#CMS_MenuTop li li li:hover ul
,#CMS_MenuTop li li li li:hover ul
,#CMS_MenuTop li.over ul
,#CMS_MenuTop li li.over ul
,#CMS_MenuTop li li li.over ul 
,#CMS_MenuTop li li li li.over ul 
{
	z-index: 10;	/* added 18/11/09 to fix menu not displaying infront of content in admin pages */
	left: auto;
}

 #CMS_MenuTop li:hover
,#CMS_MenuTop li.over 
{
	background: #ffffff;		
}
/* */

#CMS_MenuTop a:hover
{
	color: #558811;
}

/*	Currently Selected Link	*/
#CMS_MenuTop li.Selected
{
	width: 140px;
	
	border-top: solid #eeeeee 1px;
	border-right: solid #777777 1px;
	border-bottom: solid #000000 1px;
	border-left: solid #cccccc 1px; 
	
    padding: 1px 2px 2px 2px;
	background-color: #dddddd;	
}

 #CMS_MenuTop li.Selected a
{
 	width: 140px;
	
	color:#cc0000;
}
 #CMS_MenuTop li.Selected li a
 {
	color: #0000ee;
}

 #CMS_MenuTop li li.Selected
{
    padding: 1px 11px 1px 0;
}
/* 	 */


/*	==============	The Sub Top Menu listing ( for use with IE 6 and no JavaScript  )	==============	*/

#SubMenuTopDiv
{
	clear: left;
	
	height: 20px;

	margin-left: auto;
	margin-right: auto;

	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
		
	font-size: 10px; 

}

#SubMenuTopDiv ul li
{
  display: inline; 
}	

