
	
	/*============================================================================================*\
	|				 CSS by Matt Harper @ Site of Hand Web Design (c)2009 					|
	\*============================================================================================*/

	
	/*	=================	Side Menu	================	*/
	
#CMS_MenuSideDiv
{		
	width: 180px;
	float: left;
	
 	margin: 0;
	padding: 8px; 
	background-color: #eeeeee;

	font-size: 12px;			
	font-family: Verdana, Helvetica, Arial, Geneva, sans-serif;
	text-align: left;

}

/*	=================================================================================================================	*/

 #CMS_MenuSide
,#CMS_MenuSide ul 
{
	list-style: none;
	line-height: 1;
	padding: 0;
	margin: 0 0 0 0;
}

#CMS_MenuSide a 
{
	display: block;
	width: 100px;
	w\idth: 90px;
	color: #0000ee;
	text-decoration: none;
	padding: 4px 10px;	
}

#CMS_MenuSide li a.Daddy 
{
	background-image: url('Button_arrow_right.gif');	
		background-image: url('Button_down_arrow.gif');	/*	 <--	use this (un-comment) for expanding menu*/
		
	background-repeat: no-repeat;
	background-position: center right;
}

#CMS_MenuSide li a.DaddyOpen 
{
	background-image: url('Button_arrow_down.gif');
		background-image: url('Button_right_arrow.gif');	/*	 <--	use this (un-comment) to remove OPEN UP links	*/
	
	background-repeat: no-repeat;
	background-position: center right;
}


#CMS_MenuSide li 
{
	padding: 0;
	width: 120px;
	
	border-top: solid #eeeeee 2px;
	border-right: solid #777777 2px;
	border-bottom: solid #000000 2px;
	border-left: solid #cccccc 2px; 

	background-color: #dddddd;		
}

 #CMS_MenuSide li ul.MenuSideSub	/*  <--	use this (un-comment) for OPENED UP links	*/
/*  #CMS_MenuSide li ul 				  <--	use this (un-comment) to remove OPENED UP links	*/
 {
	position: absolute;
	left: -999em;
	height: auto;

	width: 80px;
	w\idth: 80px;	
	font-weight: normal;

	margin-left: 120px;
	margin-top: -20px;
}

#CMS_MenuSide li li 
{
	padding-right: 10px;
	width: 120px
}

#CMS_MenuSide li ul a 
{
	width: 120px;
	w\idth: 100px;
}

 /* */
#CMS_MenuSide li ul ul 
{
	margin: -20px 0 0 120px;
}




/*	===========	CSS fly-out Menu Trickery	=============	*/

 #CMS_MenuSide li:hover ul ul
,#CMS_MenuSide li:hover ul ul ul
,#CMS_MenuSide li:hover ul ul ul ul
,#CMS_MenuSide li.over ul ul
,#CMS_MenuSide li.over ul ul ul 
,#CMS_MenuSide li.over ul ul ul ul
{
	left: -999em;
}

 #CMS_MenuSide li:hover ul
,#CMS_MenuSide li li:hover ul
,#CMS_MenuSide li li li:hover ul
,#CMS_MenuSide li li li li:hover ul
,#CMS_MenuSide li.over ul
,#CMS_MenuSide li li.over ul
,#CMS_MenuSide li li li.over ul 
,#CMS_MenuSide li li li li.over ul 
{
	left: auto;
	z-index:1;
	
	/*	use the following(un-comment) for expanding menu	*/	
		position: relative;		
		margin-left:10px;	 
		margin-top:5px;
	
}

/* 	Hover Styles	*/
 #CMS_MenuSide li:hover
,#CMS_MenuSide li.over
,#CMS_MenuSide ul.MenuSideOpen li:hover
,#CMS_MenuSide ul.MenuSideOpen li.over
{
	background: #ffffff;		
}
/* */

 #CMS_MenuSide a:hover
{
	color: green;
}

/*	Currently Selected Link	*/
#CMS_MenuSide li.Selected
{
	font-weight:bold;
	
	border-top: solid #eeeeee 1px;
	border-right: solid #777777 1px;
	border-bottom: solid #000000 1px;
	border-left: solid #cccccc 1px; 
	
    padding: 1px 1px 1px 1px;
	background-color: #bbbbbb;	
}

 #CMS_MenuSide li.Selected a
 {
 	color:#cc0000;
}

 #CMS_MenuSide li.Selected li a
 {
	color: #0000ee;
}

 #CMS_MenuSide li li.Selected
{
    padding: 1px 10px 1px 0;
}


/*	===========	Opened-out (currently selected) sub-menuTrickery	=========== 	*/
/* Remove the Following To Remove OPENED-OUT links   */

 #CMS_MenuSide ul.MenuSideOpen
 {
   	display: block;
	position: relative;	
	margin: 0 0 0 10px;	
 }

 #CMS_MenuSide ul.MenuSideOpen li
{
	font-weight: normal;
	color:#0000bb;	
	
	border-top: solid #eeeeee 1px;
	border-right: solid #777777 1px;
	border-bottom: solid #000000 1px;
	border-left: solid #dddddd 1px; 
	
	background-color: #cccccc;	
}



